.main {
  border: 3px solid black;
  margin-top: 50px;
  padding-left: 90px;
  margin-left: 50px;
  margin-right:50px;
}

.search-stock {
  margin-right: 70%;
}

.search-block {
  padding-top: 20px;
}

.header {
  padding: 30px;
}

input[type="text"] {
  border: 3px solid black;
}

input[type="submit"] {
  border: 4px solid black;
}
