<div class="container main">
  <div class="header">
    <div class="title">
      <p>Enter the symbol of a stock to track (i.e AAPL, TSLA, GOOGL)</p>
    </div>
    <form [formGroup]="submitSearch" (ngSubmit)="onTrackStock()">
      <div class="d-flex justify-content-between search-block">
        <div class="">
          <input type="text" name="symbol" id="symbol" formControlName="symbolName">
        </div>
        <div class="search-stock">
          <input type="submit" value="Track Stock">
        </div>
      </div>
    </form>
  </div>
</div>
